# Configurações do IntelliJ IDEA
.idea/
*.iml

# Build
/out/
build/
target/

# Arquivos do Maven
.mvn/
*.maven/

# Arquivos do Gradle
.gradle/
build/
!gradle-wrapper.jar

# Arquivos de logs
*.log
*.log.*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Java
*.class
*.jar
*.war
*.ear

# Arquivos de cache
*.swp
*.swo

# Configurações do sistema
.vscode/
.env
